@main(Some("Sign in"), List("css/user/login.min.css")) {
    <div class="container">
        <div class="panel panel-default panel-login">
            <div class="panel-heading">
                <h2 class="panel-title">Sign in to your account</h2>
            </div>
            <div class="panel-body">
                <form>
                    <input type="text" class="form-control" placeholder="E-mail address" autofocus>
                    <input type="password" class="form-control" placeholder="Password">
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <a href="@routes.User.register" class="btn btn-success btn-block">Set up a new account</a>
                </form>
            </div>
        </div>
    </div>
}